<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <script src="public/js/aux.js"></script>
    <link rel="stylesheet" href="public/styles/main.css" />
  </head>
  <body>
    <h1>CHESSBOT♚</h1>
    <ul id="historico-de-mensagens">
      {% for mensagem in historico_de_mensagens %}
      <li><strong>Você:</strong> {{ mensagem.usuario }}</li>
      {% if mensagem.bot_image %}
      <li>
        <strong>Bot:</strong>
        <img
          src="{{ mensagem.bot_image }}"
          alt="thumbnail"
          width="100"
          height="100"
        />
      </li>
      {% else %}
      <li><strong>Bot:</strong> {{ mensagem.bot }}</li>
      {% endif %} {% endfor %}
    </ul>
    <form id="form-mensagem">
      <input type="text" id="mensagem" placeholder="Digite sua mensagem" />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
