body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 300px;
  height: 400px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        transform: none;
        font-size: 18px; /* Aumenta o tamanho da fonte */
    }
}

  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #historico-de-mensagens {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  #historico-de-mensagens li {
    margin-bottom: 10px;
  }
  
  #historico-de-mensagens li:nth-child(even) {
    background-color: #110cb0;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  #historico-de-mensagens li:nth-child(odd) {
    background-color: #dddddd;
    padding: 10px;
    border-radius: 10px;
  }
  
  #historico-de-mensagens li.bot::after {
    content: "";
    animation: digitando 1s ease-in-out infinite;
    border-left: 3px solid #3498db;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 5px;
  }
  
  @keyframes digitando {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #form-mensagem {
    display: flex;
    margin-top: 20px;
  }
  
  #form-mensagem input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }
  
  #form-mensagem button {
    background-color:#110cb0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #form-mensagem button:hover {
    background-color: #2980b9;
  }